button {
    display: block;
    margin-bottom: 5rem;
    width: 8rem;
    height: 5rem;
}

* {
    font-size: 24px;
}

h1, p {
    line-height: 1.9rem;
    letter-spacing: 0.05rem;
}

p {
    margin-bottom: 5rem;
}

#copyButton {
    display: none;
}

body:has(textarea:focus) #copybutton {
    display: none;
}

/* body > div:nth-of-type(1), 
body > div:nth-of-type(2)  */
body
{
    padding: 2rem;
    position: relative;
}

body > div:nth-of-type(1) > div, 
body > div:nth-of-type(2) > div {
    position: absolute;
}


/* div:nth-of-type(2):focus div {
    display: block;
} */

textarea ~ div button {
    display: none;
}

/* textarea:focus ~ div {
    display: block;
} */